body {
  font-family: Roboto, sans-serif;
}

.header__logo, .footer__logo, .menu__title {
  font-family: shrikhand, sans-serif;
}

.fa-map-marker-alt {
  padding-right: 1rem;
}

.location {
  font-size: 1.2rem;
  font-weight: 300;
}

.hero__btn {
  border: 0;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5rem;
  color: #fff;
  transition: scale 50ms;
  transform: scale(1);
  cursor: pointer;
  background-image: linear-gradient(300deg, #9356DC, #FF79DA);
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
}
.hero__btn a {
  text-decoration: none;
  color: #fff;
}
.hero__btn:hover {
  transform: scale(1.13);
  box-shadow: rgba(0, 0, 0, 0.3) 2rem 2rem 25px;
  background: linear-gradient(120deg, #a16be0, #ff93e1);
}

.centre-button {
  text-align: center;
}

.order__btn {
  border: 0;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5rem;
  color: #fff;
  transition: scale 50ms;
  transform: scale(1);
  cursor: pointer;
  background-image: linear-gradient(300deg, #9356DC, #FF79DA);
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
  padding: 1rem 2rem 1rem 2rem;
  align-self: center;
}
.order__btn a {
  text-decoration: none;
  color: #fff;
}
.order__btn:hover {
  transform: scale(1.13);
  box-shadow: rgba(0, 0, 0, 0.3) 2rem 2rem 25px;
  background: linear-gradient(120deg, #a16be0, #ff93e1);
}

.card__btn {
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}
.card__btn .card__like {
  position: absolute;
}
.card__btn:hover .heart--outline {
  display: hidden;
  color: transparent;
}
.card__btn:hover .heart--bg {
  display: block;
  transition: opacity 1s;
  opacity: 1;
}
.card__btn .heart--outline {
  opacity: 1;
}
.card__btn .heart--outline:active {
  display: hidden;
  color: transparent;
}
.card__btn .heart--bg {
  opacity: 0;
  background-image: linear-gradient(300deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__btn .heart--bg:active {
  display: block;
  opacity: 1;
}

.spinner-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.8);
  animation: loader 1s ease-in-out 1.5s forwards;
  z-index: -1;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  align-self: center;
}

.spinner div {
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 8px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #FF79DA;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 20px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 20px;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 20px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  50% {
    opacity: 1;
    transform: translateZ(0);
  }
  90% {
    opacity: 1;
    transform: translateZ(0);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1);
  }
}
/*-------------------------------EXPLAINER------------------------------*/
.explainer__step {
  background-color: #f1f1f1;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
}
.explainer__step:hover {
  background-color: #f2eafb;
}

/*---------------------------------Bullets------------------------------*/
ol {
  padding-left: 0;
}

.explainer__steps li {
  counter-increment: li;
  list-style: none;
}
.explainer__steps li::before {
  display: inline-block;
  content: counter(li);
  /*padding: .5rem .7rem .5rem .7rem;*/
  line-height: 1rem;
  padding: 0.6rem;
  width: 1rem;
  height: 1rem;
  align-items: center;
  border-radius: 100%;
  background: #9356DC;
  color: #fff;
  margin-left: -2rem;
  text-align: center;
}

.explainer__steps .fas {
  padding: 1rem;
}

/*---------------------------------RESTO CARDS------------------------------*/
.menu__header {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.card__title .menu__tilte {
  margin: 0;
}

.restaurants__card {
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}
.restaurants__card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
  transform: scale 1.13;
}
.restaurants__card a {
  text-decoration: none;
  color: black;
}

.card__img {
  width: 100%;
  position: relative;
}
.card__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 1rem 1rem;
}

.card__new {
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.25rem;
  top: 1rem;
  right: 1rem;
}

/*---------------------------------menu cards---------------------------------*/
.submenu__title {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  padding-bottom: 0.5rem;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  position: absolute;
  background-color: #99E2D0;
  bottom: 0;
  left: 0;
}

.card__item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
}

.card__price {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 0 1rem 0 0;
}

/*---------------------------------Check animation------------------------------*/
.menu__card {
  height: 5rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 0 1rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
}
.menu__card .menu__card-header {
  flex-grow: 5;
  padding-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card .card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 6rem;
  border-radius: 0 1rem 1rem 0;
  font-size: 1.8rem;
  transition: width 0.5s;
  background-color: #99E2D0;
  color: #fff;
}
.menu__card:hover .card__check {
  width: 4rem;
  display: flex;
}
.menu__card .fa-check-circle {
  transition-delay: 0.5s;
  transition: transform 0.5s ease-in-out;
}
.menu__card:hover .fa-check-circle {
  transform: rotate(1turn);
}

.footer__all-pages {
  background-color: #353535;
  text-decoration: none;
  color: #fff;
  min-height: 100%;
}
.footer__all-pages a {
  text-decoration: none;
  color: white;
  padding: 1rem 0 0 0;
}
.footer__all-pages ul {
  list-style: none;
  padding-left: 0;
}

.footer__icon {
  margin-right: 1rem;
}

.fa-handshake {
  transform: rotate(-40deg) scale(0.8);
  margin-right: 0.55rem;
}

body {
  margin: 0;
}

.container {
  align-self: center;
  padding: 1rem;
}

.header__logo {
  box-shadow: 0 5px 0.5rem 0 rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 1rem 0 1rem 0;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #c5c5c570;
  width: 100%;
  padding: 1rem 0 1rem 0;
  margin-bottom: 0;
}

.hero {
  text-align: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 1rem 0 3rem 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}

/**---ARROW menu---**/
.header--arrow {
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  color: black;
  top: 30px;
  left: 10px;
}

.bg__img {
  width: 100%;
}
.bg__img img {
  object-fit: cover;
  width: 100%;
}

.menu__container {
  background-color: #f1f1f1;
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  position: relative;
  z-index: 1;
  opacity: 1;
  padding-bottom: 3rem;
}

.header__logo {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
