.hero__btn{
    @include btn;
    &:hover{
        transform: scale(1.13);
        @include box-shadow ($size: 2rem 2rem 25px);
        @include linear-lighten;
    }
}
.centre-button{
    text-align: center;
}
.order__btn{
    @include btn;
    padding: 1rem 2rem 1rem 2rem;
    align-self: center;
    margin-top: 2rem;
    
    &:hover{
        transform: scale(1.13);
        //background-image: $colour-dual-end;
        @include box-shadow ($size: 2rem 2rem 25px);
        @include linear-lighten;
        


    }
    
}

.card__btn{
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    .card__like  {
        position: absolute;
    }
    &:hover {
        & .heart--outline{
            display: none;
            color: transparent;
        }
    }
    &:hover {
        & .heart--bg{
            display: block;
            transition: opacity 1s;
            opacity: 1;
        }
    }
    .heart--outline {
        opacity: 1;
        &:active{
            display: none;
            color: transparent;
        }
    }
    .heart--bg {
        opacity: 0;
        background-image: $colour-dual-start;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:active{
            display: block;
            opacity: 1;
        }
    }
}
