.hero__btn{
    @include btn;
}
.order__btn{
    @include btn;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    align-items: right;
    
}

.card__btn{
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    .card__like  {
        position: absolute;
    }
    &:hover {
        & .heart--outline{
            display: hidden;
            color: transparent;
        }
    }
    &:hover {
        & .heart--bg{
            display: block;
            transition: opacity 1s;
            opacity: 1;
        }
    }
    .heart--outline {
        opacity: 1;
        &:active{
            display: hidden;
            color: transparent;
        }
    }
    .heart--bg {
        opacity: 0;
        background-image: $colour-dual-start;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:active{
            display: block;
            opacity: 1;
        }
    }
}
