.spinner-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(241, 241, 241, 0.8);
    
    animation: loader 1s linear 1s forwards;
    z-index: 1;
    
}

.spinner{
    width: 100px;
    height: 100px;
    position: relative;
    align-self: center;
  }
  
  
  .spinner div{
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 8px solid transparent; 
    border-top-color: $colour-primary;
    border-radius: 50%;
    animation: spinnerOne 1.2s linear infinite;
    
    
  }
  .spinner div:nth-child(2){
    border: 8px solid transparent; 
    border-bottom-color: $colour-secondary;
    animation: spinnerTwo 1.2s linear infinite;
  }
  