body{
    font-family: Roboto, sans-serif;
}
.header__logo, .footer__logo {
    font-family: shrikhand, sans-serif;
    
}

.fa-map-marker-alt{
    
    padding-right: 1rem;
}
.location{
    font-size: 1.2rem;
    font-weight: 300;
}
