body{
    font-family: Roboto, sans-serif;
}
.header__logo, .card__title, .footer__logo {
    font-family: shrikhand, sans-serif;
    
}
.fas {
    color: rgba(56, 56, 56, 0.800);
}
.fa-map-marker-alt{
    
    padding-right: 1rem;
}
.location{
    font-size: 1.2rem;
    font-weight: 300;
}
