/**---ARROW menu---**/
.header--arrow{
    position: relative;
    
}
.fa-arrow-left{
    position: absolute;
    color: black;
    top: 30px;
    left: 10px;
}
.bg__img{
    
    width: 100%;
    img{
        object-fit: cover;
        width: 100%;   
    }
}
.container__page{
    padding: 1rem;
}
.menu__container{
    background-color: $colour-background;
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
    opacity: 1;       
    @media screen and (min-width: map-get($breakpoints, v-large)){
        padding-right: 0;
    }
}
.heart{
    margin-right: 1rem;
}
// media

.submenu{
    @include menuLargeBreakpoint;

}
.menu__card{
    @include menuCardsLargeBreakpoint;
}
.menu__course{
    @media screen and (min-width: map-get($breakpoints, v-large)){
        width: 33%;
        margin: 0;
    }
}
/**---ANIMATION DELAY---**/

.menu__card{
    animation: move-up .5s linear forwards;
}
.delay--1{
    opacity: 0;
    
}
.delay--2{
    opacity: 0;
    animation-delay: .1s;
}
.delay--3{
    opacity: 0;
    animation-delay: .2s;
}
.delay--4{
    opacity: 0;
    animation-delay: .4s;
}
.delay--5{
    opacity: 0;
    animation-delay: .5s;
}
.delay--6{
    opacity: 0;
    animation-delay: .6s;
}
.delay--7{
    opacity: 0;
    animation-delay: .8s;
}
.delay--8{
    opacity: 0;
    animation-delay: .9s;
}
.delay--9{
    opacity: 0;
    animation-delay: 1s;
}
.delay--10{
    opacity: 0;
    animation-delay: 1s;
}
