/**---ARROW menu---**/
.header--arrow{
    position: relative;
    
}
.fa-arrow-left{
    position: absolute;
    color: black;
    top: 30px;
    left: 10px;
}
.bg__img{
    width: 100%;
    img{
        object-fit: cover;
        width: 100%;   
    }
}
.container__page{
    padding: 1rem;
}
.menu__container{
    background-color: $colour-background;
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
    opacity: 1;       
}
// media

.submenu{
    @include menuLargeBreakpoint;

}
.menu__card{
    @include menuCardsLargeBreakpoint;
}
.menu__course{
    @media screen and (min-width: map-get($breakpoints, v-large)){
        width: 33%;
        margin: 0;
    }
}
/**---manuCards ANIMATION---**/