@mixin dual-colour-start{
    background-image: linear-gradient(300deg, $colour-primary, $colour-secondary);
}
@mixin dual-colour-end($colour-primary: $colour-primary, $colour-secondary: $colour-secondary){
    background-image: linear-gradient(120deg, $colour-primary, $colour-secondary);
}

@mixin box-shadow($colour:$colour-shadow, $size: $shadow-size){
    box-shadow: $colour-shadow $size ;
}
@mixin btn {
    border: 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5rem;
    color: #fff;
    transition: scale 50ms;
    transform: scale(1);
    cursor: pointer;
    background-image: $colour-dual-start;
    @include box-shadow;


    a{
        text-decoration: none;
        color: #fff;
    }
}
    
@mixin linear-lighten{
    background: linear-gradient(120deg, lighten($colour-primary, 5%), lighten($colour-secondary, 5%));
}