@mixin dual-colour-start{
    background-image: linear-gradient(300deg, $colour-primary, $colour-secondary);
}
@mixin dual-colour-end($colour-primary: $colour-primary, $colour-secondary: $colour-secondary){
    background-image: linear-gradient(120deg, $colour-primary, $colour-secondary);
}

@mixin box-shadow($colour:$colour-shadow, $size: $shadow-size){
    box-shadow: $colour-shadow $size ;
}
@mixin btn {
    border: 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5rem;
    color: #fff;
    transition: scale 50ms;
    transform: scale(1);
    cursor: pointer;
    background-image: $colour-dual-start;
    @include box-shadow;

    a{
        text-decoration: none;
        color: #fff;
    }
    &:hover{
        transform: scale(1.13);
        background-image: $colour-dual-end (lighten($colour-primary,70%) lighten($colour-secondary,70%));
        @include box-shadow($colour: $colour-tertiary, $size: 2rem 2rem 25px);
        @include dual-colour-end (lighten($colour-primary,70%) lighten($colour-secondary,70%));
        
        


    }
}
/*@mixin heading-shadow($colour:$colour-primary, $size: $heading-shadow-size){
      text-shadow: $size $size darken($colour, 10%);
}
*/