@mixin dual-colour-start{
    background-image: linear-gradient(300deg, $colour-primary, $colour-secondary);
}
@mixin dual-colour-end{
    background-image: linear-gradient(120deg, $colour-primary, $colour-secondary);
}

@mixin box-shadow($colour:$colour-shadow, $size: $shadow-size){
    box-shadow: $size $colour-shadow;
}
@mixin btn {
    border: 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5rem;
    color: #fff;
    transform: scale;
    transition-duration: 50ms;
    cursor: pointer;
    background-image: $colour-dual-start;
    @include box-shadow;

    a{
        text-decoration: none;
        color: #fff;
    }
    &:hover{
        transform: scale(1.13);
        background-image: $colour-dual-end;

    }
}