$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: rgba(241, 241, 241, 1);
$colour-dual-start: linear-gradient(300deg, $colour-primary, $colour-secondary);
$colour-dual-end: linear-gradient(120deg, $colour-primary, $colour-secondary);
$colour-footer: #353535;
$colour-shadow: rgba(0 0 0 / 0.3);
$shadow-size: 0.3rem 0.3rem 5px;

// Map des breakpoints
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 921px,
  v-large: 1023px,
);